.services {
  height: max-content;
  background-image: url(./../images/services_vector.svg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  &>.container {
    &>p {
      @media (min-width: 1024px) {
        width: 60ch;
        margin: 0 auto;
      }
    }
  }

  &__container  {
    @media (min-width: 1280px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__illustrator {
    display: none;

    @media (min-width: 1024px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 1280px) {
      width: calc(100%/2);
    }

    &>img {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__items {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
     flex-wrap: wrap !important;
    }

    @media (min-width: 1280px) {
      width: 55%;
      justify-content: end;
      flex-flow: column nowrap;
    }
  }

  &__service {
    width: 100%;
    height: max-content;
    padding: 1em 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8em;

    @media (min-width: 768px) {
        width: calc(100%/2);
        gap: 1rem;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--circle);
    background: linear-gradient(var(--bg-primary), var(--bg-primary)) padding-box,
      var(--border-gradient) border-box;
    border: 2px solid transparent;

    @media (min-width: 1280px) {
      width: 100px;
      height: 72px;
    }
    @media (min-width: 1366px) {
      width: 90px;
      height: 75px;
    }

    &>img {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 1280px) {

      }
    }
  }

}